<md-toolbar color="primary">
  <button md-button (click)="sidenav.toggle()">
    <md-icon class="example-icon">menu</md-icon>
  </button>
  <span class="example-spacer"></span>
  <span>Dashboard</span>
</md-toolbar>
<div *ngIf="isLoading">
    <div class="loader-full-page">
        <md-progress-bar color="warn" mode="indeterminate"></md-progress-bar>
    </div>
</div>
<md-sidenav-container class="example-sidenav-fab-container">
  <md-sidenav #sidenav mode="push" opened="false">
    <div class="example-scrolling-content">
      <app-side-menu></app-side-menu>
    </div>
  </md-sidenav>
  <div class="my-content">
    <div class="dashboard-container" *ngIf="!isLoading">
        <app-kpi-panel></app-kpi-panel> 
        <app-global-filter></app-global-filter>
        <app-high-chart-stacked-column [chartData] = "userChartData"></app-high-chart-stacked-column>
        <app-high-chart-stacked-column [chartData] = "machineChartData"></app-high-chart-stacked-column>
        
    </div>
  </div>

</md-sidenav-container>
